/* Color variables */
$color-default: #003d56;
$color-secondary: gray;
$color-info: #68d8d2;
$color-success: #6cca98;
$color-warning: darken(yellow, 3%);
$color-danger: #ea4e47;
$color-white: #fff;

/* Nav bar colors */
$navbar-color: #f7ebd3;
$navbar-brand-color: #003d56;