<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
	  throwsConfigExceptions="true"
	  internalLogLevel="Info"
      internalLogFile="${currentdir}/logs/internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File"
				name="fileTarget"
				fileName="${currentdir}/logs/${shortdate}.log"
				layout="${longdate} [${uppercase:${level}}] [${logger}]: ${message} ${exception:format=ToString,data:maxInnerExceptionLevel=10:separator=\r\n}" />

		<target name="system"
				xsi:type="SystemLogging"
				layout="${message}" />
	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
		<logger name="System.*" finalMinLevel="Warn" />
		<logger name="Microsoft.*" finalMinLevel="Warn" />
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
		<logger name="Quartz.*" finalMinLevel="Info" />
		<logger name="*" minlevel="Trace" writeTo="fileTarget, system" />
	</rules>
</nlog>