<header class="navbar fixed-top shadow d-flex flex-column">
    <nav class="navbar--main container-fluid d-flex">
        <a class="navbar-brand mx-4" href="/">
            <img src="img/logo-no-text.png" alt="Logo" height="42" class="d-inline-block align-text-top mx-1">
            Monitor
        </a>
        <ul class="navmenu container d-flex justify-content-evenly align-items-center align-self-stretch flex-grow-1">
            <NavigationItem Title="Accueil" Route="/" />
            <NavigationItem Title="Liste des flux" Route="/jobs" />
            <NavigationItem Title="Système" Route="/system" />
        </ul>
        <a class="navbar-brand mx-4 invisible" href="/">
            <img src="img/logo-no-text.png" alt="Logo" height="42" class="d-inline-block align-text-top mx-1">
            Monitor
        </a>
    </nav>
</header>

@code {

}
