@inherits LayoutComponentBase
@using LPCR.Monitor.Web.Shared.Navigation;

<PageTitle>LPCR.Monitor.Web</PageTitle>

<div class="page">
    <NavigationBar />

    <main class="container mt-2">
        @Body
    </main>
</div>
